$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    font-family: $font-stack;
    line-height: 1.6;
}